---
import TopOrLeft from '../components/TopOrLeft.vue'
import MainContent from '../components/MainContent.vue'

import '../styles/tailwind.css'

let title = 'CN - Home'
---

<html lang="en">
  <head>
    <!-- Smartlook analytics -->
    <script type="text/javascript">
      window.smartlook ||
        (function (d) {
          var o = (smartlook = function () {
              o.api.push(arguments)
            }),
            h = d.getElementsByTagName('head')[0]
          var c = d.createElement('script')
          o.api = new Array()
          c.async = true
          c.type = 'text/javascript'
          c.charset = 'utf-8'
          c.src = 'https://web-sdk.smartlook.com/recorder.js'
          h.appendChild(c)
        })(document)
      smartlook('init', '335556082816f301a6fc58c59b59ad7326bac831', { region: 'eu' })
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <title>{title}</title>
    <meta
      name="description"
      content="Personal homepage of Cedric Nicoloso, JavaScript full-stack developer."
    />

    <link rel="icon" href="/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <TopOrLeft />
    <MainContent />
  </body>
</html>
