---
import TopOrLeft from '../components/TopOrLeft.vue'
import MainContent from '../components/MainContent.vue'

import '../styles/tailwind.css'

let title = 'CN - Home'
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N1CCMV37G7"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-N1CCMV37G7')
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <title>{title}</title>
    <meta
      name="description"
      content="Personal homepage of Cedric Nicoloso, JavaScript full-stack developer."
    />

    <link rel="icon" href="/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <TopOrLeft />
    <MainContent />
  </body>
</html>
